<!DOCTYPE html>
<html>
<head>
<<<<<<< HEAD
<title>Ruby on Rails Tutorial Sample App| Home</title>
=======
<title>Ruby on Rails Tutorial Sample App| <%= @title%></title>
>>>>>>> dynamic-pages
</head>
<body>
<h1>Sample App</h1>
<p>
This is the home page for the 
<a href="http://railstutorial.org">Ruby on Rails Tutorial</a>
Sample Application.
</p>
</body>
</html>
